.cvboard{
	padding: 25px;
	background-color: white;
	box-shadow: 1px 1px 3px gray;
	margin: 10px;
}

.cvboard .strong{
	font-weight: bold;
}
.cv-banner{
	font-size: 1.3em;
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	color: darkgrey;
}
.cv-experience{
	padding-top: 15px;
}
.cv-project{
	padding: 15px 0px 15px 0px;
}
.pic{
	width: 120px;
	height: 120px;
	border-radius: 75px;
	border: solid 6px #ECECEB;
    background-color: white;
}