body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
div.navBar{
	height: 50px;
	width: 100%;
	padding: 0px;
}

.navbar-dup{
	background-color: #3F51B5;
	border: 0px;
	border-radius: 0px!important;
}
.navbar-dup a{
	color: white;
}
.navbar-dup li>a{
	border-bottom: solid transparent 3px;
	background-color: transparent!important;
	border-color: transparent!important;
}
.navbar-dup li>a:focus{
	background-color: transparent;
}
.navbar-dup li>a:hover{
	border-bottom: solid white 3px;
	background-color: transparent;
}

.navbar-dup .icon-bar{
	border: solid white 1px;
}

.g2048 td{
	width: 80px;
	height: 80px;
	border: solid 5px #C3C2B8;
	font-size: 1.2em;
	font-weight: bold;
}


td.gLevel2{
	background-color: #F1EAD6;
}
td.gLevel4{
	background-color: #EDE4D0;
}
td.gLevel8{
	background-color: #EADDC0;
}
td.gLevel16{
	background-color: #F1DBAC;
}
td.gLevel32{
	background-color: #F3D18A;
}
td.gLevel64{
	background-color: #F9CD71;
}
td.gLevel128{
	background-color: #F9C14C;
}

td.gLevel256{
	background-color: #F5B632;
}
td.gLevel512{
	background-color: #F9C14C;
}
td.gLevel1024{
	background-color: #E4A90D;
}
td.gLevel2048{
	background-color: #D29C0D;
}
td.gLevel4096{
	background-color: #BB8408;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
