body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #e4e5e6!important;
}
div.sidebar{
	height: 100%;
	padding: 0px;
	overflow:hidden;
}

div.panel{
	
	height: 100%;
}

.control-menu{
	padding: 0px;
}
.menu-cate{
	font-weight:bold;
}
.control-menu>li{
	list-style-type: none;
	padding: 5px 10px 5px 10px;
}

.panel{
	padding: 10px 20px 10px 20px;
}