body{
	margin: 0px;
	padding: 0px;
	height: 100%;
  font-family: "Open Sans","OpenSans",sans-serif;
}
div.navBar{
	height: 50px;
	width: 100%;
	padding: 0px;
}

.navbar-dup{
	background-color: #3F51B5;
	border: 0px;
	border-radius: 0px!important;
}
.navbar-dup a{
	color: white;
}
.navbar-dup li>a{
	border-bottom: solid transparent 3px;
	background-color: transparent!important;
	border-color: transparent!important;
}
.navbar-dup li>a:focus{
	background-color: transparent;
}
.navbar-dup li>a:hover{
	border-bottom: solid white 3px;
	background-color: transparent;
}

.navbar-dup .icon-bar{
	border: solid white 1px;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
