<div style="padding-top: 30px;" align="center">
		<div class="game-2048-score"  align="center"><div>Your score</div><p> {{g2048.score}} </p></div>
		<div class="game-2048-score"  align="center"><div>Your best</div><p> {{g2048.best}} </p></div>		
		<div class="game-2048-body">	
			<div align="right"><button ng-click='reset2048()' class="btn btn-default btn-sm">New Game</button></div>	
			<div>		
				<table class="g2048">
					<tr ng-repeat="cols in g2048.g2048 track by $index">
						<td align="center" ng-repeat="col in cols track by $index" ng-class="'gLevel'+col">{{col>0?col:''}}</td>
					</tr>
				</table>
			</div>
		</div>
</div>