
.game-2048-score{
    height: 100px;
    width: 200px;
    display: inline-block;
    font-weight: bold;
    
}
.game-2048-score div{
    background-color: burlywood;
    color: saddlebrown;
    border-radius: 5px 5px 0px 0px;
    width: 90px;
    height: 25px;
    padding: 5px;
}
.game-2048-score p{
    background-color: burlywood;
    color: saddlebrown;
    border-radius: 0px 0px 5px 5px;
    width: 90px;
    height: 45px;
    font-size: 1.5em;
    padding: 5px;
}
.game-2048-body{
    width: 400px;
    height: 400px;
}


.game-2048-body div{
   padding: 10px 0px 10px 0px;
}
.g2048 td{
	width: 100px;
	height: 100px;
	border: solid 10px #C3C2B8;
	font-size: 1.2em;
	font-weight: bold;
}


@media screen and (max-width: 520px){
   .game-2048-body {
        -webkit-touch-callout: none;
        -ms-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -ms-touch-action: none;
        touch-action: none;
        width: 280px;
        height: 280px;
    } 
    .game-2048-score{
        height: 80px;
        width: 140px;
    }
    .g2048 td{
        width: 70px;
        height: 70px;
        border: solid 8px #C3C2B8;       
    }
}
td.gLevel2{
	background-color: #F1EAD6;
}
td.gLevel4{
	background-color: #EDE4D0;
}
td.gLevel8{
	background-color: #EADDC0;
}
td.gLevel16{
	background-color: #F1DBAC;
}
td.gLevel32{
	background-color: #F3D18A;
}
td.gLevel64{
	background-color: #F9CD71;
}
td.gLevel128{
	background-color: #F9C14C;
}

td.gLevel256{
	background-color: #F5B632;
}
td.gLevel512{
	background-color: #F9C14C;
}
td.gLevel1024{
	background-color: #E4A90D;
}
td.gLevel2048{
	background-color: #D29C0D;
}
td.gLevel4096{
	background-color: #BB8408;
}
