
.home-nav{
    position: fixed;
    height: 10%;
    left: 95%;
    width: 5%;
    padding: 0px;
    z-index: 999;
}
.home-nav li{
    list-style: none;
    margin: 5px;
}
.home-nav li>div{
    width: 15px; 
    height: 15px;
    border-radius: 10px;
    border: solid 1px darkgray;
    background: transparent;
}
.home-nav li.active>div{
    background-color: darkgray;
}
.home-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition : all 700ms ease;
}
.home-slides-show{
    width: 100%;
    padding: 10%;
    position: relative;
    overflow: hidden;
   
}

.home-slides-show.current{
    display: block;
}
#productive-content{
    padding: 2% 0 0 0; 
    display: inline-block;
    width: 100%;
}

#productive-content li{
    display: inline-block;
    list-style: none;
    width: 30%;
    padding: 3%;
}
#productive-content li img{
   border-radius:100%; 
   width: 150px;
   margin-bottom: 5px;
}

#productive-content li img:hover{
   box-shadow: 0px 0px 10px gray;
  
}
#productive-content li p{
   font-size: 1.3em;
}


.poster-title{
    width: 100%; 
    font-size: 3em; 
    font-weight: lighter;
}
.hungry-content{
    
    padding: 5% 0 5% 0;
}
.hungry-content li{
    display: inline-block;
    list-style: none;
    padding: 50px;
}

.hungry-content li img{
   height:100px; 
   margin-bottom: 5px;
   padding: 3%;
}

#home-read img{
    display: inline-block;
    position: absolute;
    transition : all 700ms ease-out; 
}
#home-read.begin img{
   top: 100%!important;
}
#home-read h1{
    position: relative; 
    left:37%; 
    top: 40%; 
    padding: 0px;
}

@media screen and (max-width: 520px){
    #productive-content li{
       width: 100%;
       display: block;
    }
    #productive-content li img{
        border-radius:100%; 
        width: 100px; 
        margin-bottom: 5px;
        padding: 0px; 
    }
    
    
    .hungry-content li{
        width: 100%;
        padding: 5px;
    }
    .hungry-content li img{
        height:80px; 
        margin-bottom: 5px;
        padding: 1%;
    }
    .hungry-content li img{
        height:80px; 
        margin-bottom: 5px;
        padding: 1%;
        
    }
    #home-read img{
        display: none;
    }
    #home-read h1{
        color: #E8930F;
        left: 0%;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

/**  **/

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

