
.home-nav{
    position: fixed;
    height: 10%;
    left: 95%;
    width: 5%;
    padding: 0px;
    z-index: 999;
}
.home-nav li{
    list-style: none;
    margin: 5px;
}
.home-nav li>div{
    width: 15px; 
    height: 15px;
    border-radius: 10px;
    border: solid 1px darkgray;
    background: transparent;
}
.home-nav li.active>div{
    background-color: darkgray;
}
.home-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home-slides-show{
    width: 100%;
    padding: 10%;
    overflow: hidden;
}

.home-slides-show.current{
    display: block;
}
.productive-content{
    padding: 2% 0 0 0; 
    display: inline-block;
    width: 100%;
}
.productive-content li{
    display: inline-block;
    list-style: none;
    width: 30%;
    padding: 3%;
}
.productive-content li img{
   border-radius:100%; 
   width: 150px;
   margin-bottom: 5px;
}

.productive-content li img:hover{
   box-shadow: 0px 0px 10px gray;
  
}
.productive-content li p{
   font-size: 1.3em;
}


.poster-title{
    width: 100%; 
    font-size: 3em; 
    font-weight: lighter;
}

.hungry-content li{
    display: inline-block;
    list-style: none;
    padding: 10px;
}

.hungry-content li img{
   height:100px; 
   margin-bottom: 5px;
   padding: 3%;
}


@media screen and (max-width: 520px){
    .productive-content li{
       width: 100%;
       display: block;
    }
    .productive-content li img{
        border-radius:100%; 
        width: 100px; 
        margin-bottom: 5px;
        padding: 0px; 
    }
    .bg-canves{
        display: none;
    }
    
    .hungry-content li{
        width: 100%;
    }
    .hungry-content li img{
        height:50px; 
        margin-bottom: 5px;
        padding: 1%;
    }
}